<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rangine Framework，软擎框架</title>
    <meta name="keywords" content="微信开发，微信运营，微擎，软擎框架，swoole api 协程">
    <meta name="description" content="Rangine Framework 一款基于Swoole开源高性能异步&协程开发框架。基于Swoole扩展，常驻内存，不依赖传统的php-fpm。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.w7.cc/ued/rangine/css/index.css?v1">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_588424_1eaadxj3zyx.css">
    <script src="https://cdn.w7.cc/ued/vue/vue.min.js"></script>
    <script src="https://cdn.w7.cc/ued/vue/axios.min.js"></script>
    <script src="https://cdn.w7.cc/ued/plugins/release/w7Plugins.umd.min.js"></script>
    <title>Document</title>
</head>
<body>
<div class="heaer-static">
    <div id="header">
        <we7-head class="Nav-Header" :is-login="isLogin" :j-url="jUrl" :active="active" :show-right="showRight"></we7-head>
    </div>
</div>
<div class="rangine">
    <div class="rangine-banner">
        <img src="https://cdn.w7.cc/ued/rangine/image/index/rangine-banner.png" alt="">
        <div class="content">
            <div class="title">
                Rangine  Framework
            </div>
            <div class="desc">
                一款基于Swoole开源高性能异步&协程开发框架。基于Swoole扩展，常驻内存，不依赖传统的php-fpm。
            </div>
            <div class="action">
                <a href="https://gitee.com/we7coreteam/w7-rangine-empty" rel=”nofollow” target="_blank" class="btn btn-default">源代码（Gitee）</a>
                <a href="https://github.com/we7coreteam/w7-rangine-empty" rel=”nofollow” target="_blank" class="btn btn-default">源代码（Github）</a>
                <a href="https://wiki.w7.cc/chapter/1?id=7#" target="_blank" class="btn btn-text">查看文档</a>
            </div>
        </div>
    </div>
    <div class="rangine-use">
        <div class="header">
            <h2>框架应用实例</h2>
            <p>框架使用场景</p>
        </div>
        <div class="content">
            <div class="item">
                <img src="https://cdn.w7.cc/ued/rangine/image/index/d.png" alt="">
                <div class="desc">
                    <h3 class="name">文档系统</h3>
                    <div class="">基于软擎开发的开源版文档管理系统，是微擎多年开发经验的技术沉淀产品。支持多个编辑器，多用户协同操作，管理员审核发布等功能。让您的工作更高效，更智慧。</div>
                    <a href="https://www.rangine.com/doc.html" class="go" target="_blank">查看实例 ></a>
                </div>
            </div>
            <div class="item after">
                <img src="https://cdn.w7.cc/ued/rangine/image/index/j.png" alt="">
                <div class="desc">
                    <h3 class="name">积分商城</h3>
                    <div>基于软擎开发的开源版积分商城系统，是微擎为拓展业务需求所成立的自建商城新项目，可用于兑换商品或服务，支持入驻，积分+钱等系统化的积分运营，有助于拉近您与客户的关系，提高付费转化比例。</div>
                </div>
            </div>
        </div>
    </div>
    <div class="rangine-content">
        <div class="header">
            <h2>框架优良的特性，让你的工作如虎添翼</h2>
            <p>睁大眼睛，一起来了解下</p>
        </div>
        <div class="content">
            <div class="item">
                <div class="box">
                    <img src="https://cdn.w7.cc/ued/rangine/image/index/1.png" alt="">
                    <p>协程/异步</p>
                </div>
                <p class="desc">
                    原生的异步和协程支持，支持HTTP、TCP/UDP、Webso- cket等协议，可以满足高并发场景要求。
                </p>
            </div>
            <div class="item">
                <div class="box">
                    <img src="https://cdn.w7.cc/ued/rangine/image/index/2.png" alt="">
                    <p>组件化</p>
                </div>
                <p class="desc">
                    符合Laravel框架和PSR的规范，实现了路由、日志、缓存常用组件，可以让你简单、优雅、快速的实现功能。
                </p>
            </div>
            <div class="item">
                <div class="box">
                    <img src="https://cdn.w7.cc/ued/rangine/image/index/3.png" alt="">
                    <p>学习成本低</p>
                </div>
                <p class="desc">
                    引入Laravel框架的DB门面及Eloquent模型，拥有超低的学习成本。
                </p>
            </div>
        </div>
    </div>
    <div class="rangine-isntall">
        <div class="header">
            <h2>安装环境的准备及注意事项</h2>
            <p>不要忽略任何一处微小的细节</p>
        </div>
        <div class="content">
            <div class="item">
                <img src="https://cdn.w7.cc/ued/rangine/image/index/4.png" alt="">
                <div class="box">
                    <h3>环境要求</h3>
                    <p> PHP > 7.0.0、PHP Swoole 扩展 > 4.2.3、PHP Mbstring 扩展、PHP Pdo MySql</p>
                </div>
            </div>
            <div class="item">
                <img src="https://cdn.w7.cc/ued/rangine/image/index/5.png" alt="">
                <div class="box">
                    <h3>安装</h3>
                    <p> 通过 Composer 来管理依赖，请确保你的机器上安装了 Composer</p>
                    <p> git clone <a href="https://github.com/we7coreteam/w7-rangine-empty" target="_blank">https://github.com/we7coreteam/w7-rangine-empty</a> ./rangine-test && cd rangine-test && sudo composer install</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rangine-feature">
        <div class="header">
            <h2>应用场景</h2>
            <p>框架的适用场景</p>
        </div>
        <img src="https://cdn.w7.cc/ued/rangine/image/index/rangine-scene.png" alt="">
    </div>
</div>
<div class="goTop">
    <div class="qqgroup">
        <div class="title">
            <img src="https://cdn.w7.cc/ued/rangine/image/index/contact.png" alt="">
            加群了解
        </div>
        <a class="qq" href="https://jq.qq.com/?_wv=1027&k=5IfX9e1" target="_blank">
            <img src="https://cdn.w7.cc/ued/rangine/image/index/qq.png" alt="">
            <div class="info">
                QQ群:
                <p>
                    364768550
                </p>
            </div>
        </a>
    </div>
    <div class="top hidden">
        <i class="wi wi-angle-up"></i>
    </div>
</div>
<div id="we7-footer">
    <we7-footer></we7-footer>
</div>
<script>
    new Vue({
        el: '#header',
        data: {
            active: 5,
            jUrl: 'https://j.w7.cc',
            isLogin: false,
            showRight: false
        },
        components: {
            we7Head: w7Plugins.default[6]
        },
    })
    new Vue({
        el: '#we7-footer',
        components: {
            we7Head: w7Plugins.default[7]
        }
    })
</script>
<script>
    window.onscroll=function(){
        var osTop=document.documentElement.scrollTop|| document.body.scrollTop;
        document.querySelector('.goTop .top').style.display = "none";
        if(osTop >= 400) {
            document.querySelector('.goTop .top').style.display = "block";
        }
    }
    document.querySelector('.goTop .top').addEventListener('click', function() {
        document.body.scrollTop = document.documentElement.scrollTop = 0;
    })
</script>
</body>
</html>
