.buildpath
.settings/
.project
*.patch
.idea/
.git/
vendor/
temp/
*.lock
.phpintel/
.DS_Store
Dockerfile
LICENSE
changelog.md
phar.build.inc
docker-compose.yml
phpunit.xml
.phpstorm.meta*
.idea/vcs.xml