<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--360极速模式-->
    <meta name="renderer" content="webkit">
    <title>Rangine Framework，软擎框架</title>
    <meta name="keywords" content="微信开发，微信运营，微擎，软擎框架，swoole api 协程">
    <meta name="description" content="Rangine Framework 一款基于Swoole开源高性能异步&协程开发框架。基于Swoole扩展，常驻内存，不依赖传统的php-fpm。">

    <link rel="icon" href="https://cdn.w7.cc/favicon.ico" type="image/x-icon" >

    <!-- ie -->
    <script>
        if (!!window.ActiveXObject || "ActiveXObject" in window) {
            document.write('<script src="https://cdn.bootcss.com/babel-polyfill/7.0.0-alpha.20/polyfill.js"><\/script>')
        }
    </script>
    <script src="//cdn.w7.cc/new/js/vue.min.js"></script>
    <script src="//cdn.w7.cc/new/js/libs/tippy.all.min.js"></script>
    <script src="//cdn.w7.cc/new/js/libs/lazyload.min.js"></script>
    <script src="//cdn.w7.cc/new/js/libs/axios.min.js"></script>
    <script src="//cdn.w7.cc/new/js/libs/we7.axios.js?v=4"></script>
    <!-- <link rel="stylesheet" href="/css/libs/tippy.css" > -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="//s.w7.cc/css/app.css?20190225">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_588424_pk8fat49byo.css">
    <script src="//cdn.w7.cc/new/js/libs/sweetalert2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="//cdn.w7.cc/new/js/libs/sweetalert2/sweetalert2.css">
    <!-- <link href="//cdn.w7.cc/web/resource/css/wechat/style.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="//s.w7.cc/css/rangine/index.css?id=ccc253390eebf93d15e8">

</head>
<body>
<div class="heaer-static ">
    <div class="Nav-Header">
        <a href="//www.w7.cc" class="Logo">
            <img class="hover" src="//s.w7.cc/img/logo.png" />
            <img class="leave" src="//s.w7.cc/img/logo.png" />
        </a>
        <div class="Content">
            <div class="left-menu">
                <a href="//www.w7.cc">首页</a>
                <a class="product "
                   href="//s.w7.cc/store-static-buy.html"
                   data-tippy-interactive="true"
                   data-tippy-arrow="true"
                   data-tippy-animation="fade"
                   data-tippy-distance="15"
                   data-tippy-interactiveBorder="20"
                   data-tippy-theme="siteTippy"
                   data-local>微擎产品</a>
                <a href="//s.w7.cc" class="">应用市场</a>
                <a href="//dev.w7.cc" class="DevContentMenu"
                   data-tippy-interactive="true"
                   data-tippy-arrow="true"
                   data-tippy-animation="fade"
                   data-tippy-distance="15"
                   data-tippy-interactiveBorder="20"
                   data-tippy-theme="siteTippy"
                   data-local>开发者中心</a>
                <!-- <a href="https://s.w7.cc/store-static-distributor.html" class="">服务商加盟</a> -->

                <a href="https://www.rangine.com" class=" active ">软擎框架</a>
                <a href="https://j.w7.cc">积分商城</a>
            </div>
        </div>
        <div class="TippDownCard">
            <div id="W7Products" data-template>
                <div class="W7Product NoNeHover">
                    <div class="DownCard" style="padding: 86px 35px;" onclick="Url('//s.w7.cc/static/install')">
                        <img src="//cdn.w7.cc/new/img/navigation/Down.png" />
                        <p class="Title">微擎-公众版在线下载</p>
                        <p class="Infos">文件体积较小，简洁方便，执行后可自动从云服务上下载完整源码</p>
                        <a class="Button" href="//s.w7.cc/static/install">免费下载</a>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductItem" onclick="Url('https://s.w7.cc/goods-1.html')">
                            <div class="Items BottomBorder">
                                <div class="ProductInfo">
                                <span class="ProductLogo">
                                    <img src="//cdn.w7.cc/new/img/navigation/System.png" />
                                </span>
                                    <div>
                                        <p class="Title">微擎-系统</p>
                                        <span class="children">
                                        <p class="HOT rightBorder">商业版<font>HOT</font></p>
                                        <p class="rightBorder">授权版</p>
                                        <p class="rightBorder">企业版</p>
                                        <p>公众版</p>
                                        <p>商业版享受更多特权，BUG优先处理，商城应用价格优惠</p>
                                    </span>
                                    </div>
                                </div>
                                <a class="Button" href="https://s.w7.cc/goods-1.html">查看</a>
                            </div>
                        </div>
                        <div class="ProductItem" onclick="Url('https://s.w7.cc/goods-6.html')">
                            <div class="Items BottomBorder">
                                <div class="ProductInfo">
                                <span class="ProductLogo">
                                    <img src="//cdn.w7.cc/new/img/navigation/Service.png" />
                                </span>
                                    <div>
                                        <p class="Title">微擎-增值服务/服务器管家</p>
                                        <span class="children">
                                        <p class="rightBorder">负载均衡</p>
                                        <p class="rightBorder">多台服务器运维</p>
                                        <p class="rightBorder">DDOS防护</p>
                                        <p>数据库深度优化</p>
                                        <p class="rightBorder">增加短信模板</p>
                                        <p class="rightBorder">修改站点(授权)地址</p>
                                        <a href="#" class="More">查看更多 ></a>
                                    </span>
                                    </div>
                                </div>
                                <a class="Button" href="https://s.w7.cc/goods-6.html">查看</a>
                            </div>
                        </div>
                        <div class="ProductItem" onclick="Url('https://s.w7.cc/goods-5.html')">
                            <div class="Items BottomBorder">
                                <div class="ProductInfo">
                                <span class="ProductLogo">
                                    <img src="//cdn.w7.cc/new/img/navigation/Shield.png" />
                                </span>
                                    <div>
                                        <p class="Title">微擎-防护盾</p>
                                        <span class="children">
                                        <p>防护能力根据微擎系统定制开发，0误杀，安全有效，</p>
                                        <p>轻松防御</p>
                                    </span>
                                    </div>
                                </div>
                                <a class="Button" href="https://s.w7.cc/goods-5.html">查看</a>
                            </div>
                        </div>
                        <div class="ProductItem" onclick="Url('https://s.w7.cc/goods-7.html')">
                            <div class="Items">
                                <div class="ProductInfo">
                                <span class="ProductLogo" style="text-align:center;">
                                    <img style="width:auto;height: 40px;margin:0" src="//cdn.w7.cc/new/img/navigation/sms.png" />
                                </span>
                                    <div>
                                        <p class="Title">微擎-短信</p>
                                        <span class="children">
                                        <p>稳定速达，急速接入，价格低廉。广泛适用服务通知与验证码</p>
                                        <p>短信业务</p>
                                    </span>
                                    </div>
                                </div>
                                <a class="Button" href="https://s.w7.cc/goods-7.html">查看</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="DevContent" data-template>
                <div class="DevContent NoNeHover">
                    <div class="Items borders">
                        <div class="InfoCard">
                        <span class="Icons">
                            <img src="//cdn.w7.cc/new/img/navigation/Console.png" />
                        </span>
                            <span class="Infos">
                            <p class="Title">开发者-控制台</p>
                            <p class="Info">诚邀全国优秀的PHP开发人员入驻</p>
                                                                                    <a class="Button" href="//dev.w7.cc">管理控制台</a>
                                                    </span>
                        </div>
                    </div>
                    <div class="Items">
                        <div class="InfoCard">
                        <span class="Icons">
                            <img src="//cdn.w7.cc/new/img/navigation/Doc.png" />
                        </span>
                            <span class="Infos">
                            <p class="Title">微擎-帮助文档</p>
                            <p class="Info">易读、易懂、易用的产品文档，为您提供更友好、更专业的服务</p>
                            <a class="Button" href="//s.w7.cc/index.php?c=wiki&do=view&id=1">查看文档</a>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        function Url(url) {
            window.open(url, "_self")
        }
    </script>

</div>
<div class="rangine">
    <div class="rangine-banner">
        <img src="//s.w7.cc/img/rangine/rangine-banner.png" alt="">
        <div class="content">
            <div class="title">
                Rangine  Framework
            </div>
            <div class="desc">
                一款基于Swoole开源高性能异步&协程开发框架。基于Swoole扩展，常驻内存，不依赖传统的php-fpm。
            </div>
            <div class="action">
                <a href="https://gitee.com/we7coreteam/w7swoole_empty" rel=”nofollow” target="_blank" class="btn btn-default">源代码（Gitee）</a>
                <a href="https://github.com/we7coreteam/w7-rangine-empty" rel=”nofollow” target="_blank" class="btn btn-default">源代码（Github）</a>
                <a href="https://s.w7.cc/index.php?c=wiki&do=view&id=317&list=2284" target="_blank" class="btn btn-text">查看文档</a>
            </div>
        </div>
    </div>
    <div class="rangine-use">
        <div class="header">
            <h2>框架应用实例</h2>
            <p>框架使用场景</p>
        </div>
        <div class="content">
            <div class="item after">
                <img src="//s.w7.cc/img/rangine/d.png" alt="">
                <div class="desc">
                    <h3 class="name">文档系统</h3>
                    <div class="">基于软擎开发的开源版文档管理系统，是微擎多年开发经验的技术沉淀产品。支持多个编辑器，多用户协同操作，管理员审核发布等功能。让您的工作更高效，更智慧。</div>

                </div>
            </div>
            <div class="item after">
                <img src="//s.w7.cc/img/rangine/j.png" alt="">
                <div class="desc">
                    <h3 class="name">积分商城</h3>
                    <div>基于软擎开发的开源版积分商城系统，是微擎为拓展业务需求所成立的自建商城新项目，可用于兑换商品或服务，支持入驻，积分+钱等系统化的积分运营，有助于拉近您与客户的关系，提高付费转化比例。</div>
                </div>
            </div>
        </div>
    </div>
    <div class="rangine-content">
        <div class="header">
            <h2>框架优良的特性，让你的工作如虎添翼</h2>
            <p>睁大眼睛，一起来了解下</p>
        </div>
        <div class="content">
            <div class="item">
                <div class="box">
                    <img src="//s.w7.cc/img/rangine/1.png" alt="">
                    <p>协程/异步</p>
                </div>
                <p class="desc">
                    原生的异步和协程支持，支持HTTP、TCP/UDP、Webso- cket等协议，可以满足高并发场景要求。
                </p>
            </div>
            <div class="item">
                <div class="box">
                    <img src="//s.w7.cc/img/rangine/2.png" alt="">
                    <p>组件化</p>
                </div>
                <p class="desc">
                    符合Laravel框架和PSR的规范，实现了路由、日志、缓存常用组件，可以让你简单、优雅、快速的实现功能。
                </p>
            </div>
            <div class="item">
                <div class="box">
                    <img src="//s.w7.cc/img/rangine/3.png" alt="">
                    <p>学习成本低</p>
                </div>
                <p class="desc">
                    引入Laravel框架的DB门面及Eloquent模型，拥有超低的学习成本。
                </p>
            </div>
        </div>
    </div>
    <div class="rangine-isntall">
        <div class="header">
            <h2>安装环境的准备及注意事项</h2>
            <p>不要忽略任何一处微小的细节</p>
        </div>
        <div class="content">
            <div class="item">
                <img src="//s.w7.cc/img/rangine/4.png" alt="">
                <div class="box">
                    <h3>环境要求</h3>
                    <p> PHP > 7.0.0、PHP Swoole 扩展 > 4.3.0、PHP Mbstring 扩展、PHP Pdo MySql</p>
                </div>
            </div>
            <div class="item">
                <img src="//s.w7.cc/img/rangine/5.png" alt="">
                <div class="box">
                    <h3>安装</h3>
                    <p> 通过 Composer 来管理依赖，请确保你的机器上安装了 Composer</p>
                    <p> git clone <a href="https://github.com/we7coreteam/w7-rangine-empty" target="_blank">https://github.com/we7coreteam/w7-rangine-empty</a> ./rangine-test && cd rangine-test && sudo composer install</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rangine-feature">
        <div class="header">
            <h2>应用场景</h2>
            <p>框架的适用场景</p>
        </div>
        <img src="//s.w7.cc/img/rangine/rangine-scene.png" alt="">
    </div>
</div>
<div class="goTop">
    <div class="qqgroup">
        <div class="title">
            <img src="//s.w7.cc/img/rangine/contact.png" alt="">
            加群了解
        </div>
        <a class="qq" href="https://jq.qq.com/?_wv=1027&k=5IfX9e1" target="_blank">
            <img src="//s.w7.cc/img/rangine/qq.png" alt="">
            <div class="info">
                QQ群:
                <p>
                    364768550
                </p>
            </div>
        </a>
    </div>
    <div class="top hidden">
        <i class="wi wi-angle-up"></i>
    </div>
</div>
<script>
    window.onscroll=function(){
        var osTop=document.documentElement.scrollTop|| document.body.scrollTop;
        document.querySelector('.goTop .top').style.display = "none";
        if(osTop >= 400) {
            document.querySelector('.goTop .top').style.display = "block";
        }
    }
    document.querySelector('.goTop .top').addEventListener('click', function() {
        document.body.scrollTop = document.documentElement.scrollTop = 0;
    })
</script>

<div class="FooterContent">
    <div class="g-footer">
        <div class="foot-sever">

            <a href="//s.w7.cc/home/qqGroup/1">
                <img src="//cdn.w7.cc/web/resource/images/wechat/24hour.png?imageView2/5/w/50" alt="">
                <div>
                    <p>在线客服咨询</p>
                    <p>购买微擎系统，点我咨询，我们将竭诚为您服务</p>
                </div>
            </a>
        </div>
        <div class="footer-menu">
            <dl>
                <dt>关于微擎</dt>
                <dd>
                    <a href="//s.w7.cc/index.php?c=wiki&do=view&id=238&list=1689">
                        关于我们
                    </a>
                </dd>
                <dd>
                    <a href="//bbs.w7.cc/thread-23787-1-1.html">
                        联系我们
                    </a>
                </dd>
                <dd>
                    <a href="#">
                        加入团队
                    </a>
                </dd>
            </dl>
            <dl>
                <dt>关于微擎</dt>
                <dd>
                    <a href="#">
                        意见反馈
                    </a>
                </dd>
                <dd>
                    <a href="//s.w7.cc/index.php?c=wiki&do=view&id=1">
                        技术文档
                    </a>
                </dd>
                <dd>
                    <a href="//s.w7.cc/home/qqGroup/1">
                        客服支持
                    </a>
                </dd>
                <dd>
                    <a href="https://s.w7.cc/store-static-bug.html">
                        漏洞提交奖励
                    </a>
                </dd>
            </dl>
            <dl>
                <dt>快速入口</dt>
                <dd>
                    <a href="//user.w7.cc">
                        个人中心
                    </a>
                </dd>
                <dd>
                    <a href="//user.w7.cc/wallet">
                        钱包
                    </a>
                </dd>
                <dd>
                    <a href="//user.w7.cc/buy">
                        应用管理
                    </a>
                </dd>
                <dd>
                    <a href="//user.w7.cc/site">
                        我的站点
                    </a>
                </dd>
            </dl>
            <dl>
                <dt>帮助支持</dt>
                <dd>
                    <a href="//bbs.w7.cc/thread-23788-1-1.html">
                        关于我们
                    </a>
                </dd>
                <dd>
                    <a href="//s.w7.cc/index.php?c=wiki&do=view&id=2">
                        系统教程
                    </a>
                </dd>
                <dd>
                    <a href="//s.w7.cc/index.php?c=wiki&do=view&id=239">
                        常见问题
                    </a>
                </dd>
            </dl>
            <dl>
                <dt>微博</dt>
                <dd>
                    <a href="http://weibo.com/p/1006063358492272">
                        <img src="//cdn.w7.cc/web/resource/images/wechat/sina.png?imageView2/5/w/44/h/34" />
                    </a>
                </dd>
                <dd>
                    <a href="http://t.qq.com/we7team">
                        <img src="//cdn.w7.cc/web/resource/images/wechat/tent.png?imageView2/5/w/38/h/35" />
                    </a>
                </dd>
            </dl>
            <dl>
                <dt>微信公众号</dt>
                <dd>
                    <a href="http://weibo.com/p/1006063358492272">
                        <img src="https://cdn.w7.cc/images\2018\12\27/KoQkSCmzxpGjDtRDWgov4gG8STCaG7MaBtdPKIgL.jpeg?imageView2/5/w/85/format/png" />
                    </a>
                </dd>
            </dl>
        </div>
    </div>
    <hr>
    <div class="footer-law">
        <p>Copyright © 2018 宿州市微擎云计算有限公司 www.rangine.com All Rights Reserved </p>
        <p>网站备案/许可证号：皖ICP备19002904号-2</p>
    </div>
</div>



<!--qq统计-->

<script>
    var widths = document.body.clientWidth
    var WidthZ = Number(254 * 0.364)
    var box = document.querySelector('.U-Info');
    if (box) {
        box.style.setProperty('left',Number(WidthZ - Number(WidthZ * 2)) + 'px')
    }
    tippy('.uinfos', {
        html: '#UiNfo'
    })
    tippy('.siteinfo', {
        html: '#SiteListCard'
    })
    tippy('.product', {
        html: '#W7Products'
    })
    tippy('.DevContentMenu', {
        html: '#DevContent'
    })
    var myLazyLoad = new LazyLoad({
        elements_selector: "[data-src]",
        skip_invisible: false
    });
</script>



<script type="text/javascript" src="//tajs.qq.com/stats?sId=52086755" charset="UTF-8"></script>
<!-- end qq统计 -->
<!--百度推送-->
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<!--end百度推送-->
<!--百度统计-->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?4984b9f5afc95eecf84cbe734a73504a";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>
